@import "bourbon";
@import "base/base";
@import "neat";


div.container {
    @include outer-container(100%);

    div.landing {
        @include span-columns(8);
        @include shift(2);

        div.heading {
            margin-top: 50px;

            h1 {
                text-align: center;
                font-size: 36px;
            }

            h2 {
                text-align: center;
            }
        }

        div.example {
            border: 3px dashed black;
        }
    }

}
